doctype html 
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Mikayla Campbell
  link(rel="stylesheet" href="styles.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
body(class="container")
  nav
    ul(class="nav-list")
      li(class="list-item")
        a(class="nav-link" href="/") Home
      li(class="list-item")
        a(class="nav-link" href="prevWork") Previous Work
      li(class="list-item")
        a(class="nav-link" href="projects") Projects
      li(class="list-item")
        a(class="nav-link" href="contact") Contact
  main
