:root {
  --white: #FFFFFF;
  --lightgray: #FFFFFFBF;
  --medgray: #FFFFFF8C;
}

main {
  margin: auto;
  font-size: 18px;
  width: 50vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

h2 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

form {
  width: 75%;
}

.logo, .btn-primary {
  margin-right: 10px;
}

.navbar-brand a {
  color: var(--white);
}

.navbar-brand a:hover {
  color: var(--lightgray);
}

#navLast {
  padding-right: 50px;
}

#intro {
  padding: 20px;
}

@media only screen and (min-width: 769px) {
  .navbar-brand a {
    padding-left: 50px;
  }

  button.navbar-toggler {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  #intro {
    width: 75vw;
    margin: auto;
  }

  .navbar-brand a {
    padding-left: 20px;
  }

  button.navbar-toggler {
    margin-right: 20px;
  }

  li.nav-item {
    margin-left: 20px;
  }
}
